h1{
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(62, 211, 114)
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(65, 46, 21);
}